<h1> BFRPG Tool </h1>

<script>
  var abilities = ["STR", "DEX", "CON", "INT", "WIS", "CHA"];
  var races = ["Dwarf", "Elf", "Halfling", "Human"];

  function populateSelect(selname, list) {
    var sel = document.getElementById(selname);

    for (i in list) {
      var option = document.createElement("OPTION");
      option.text = list[i];
      sel.appendChild(option);
    }
  }
</script>

<div id="chainfo" style="position:fixed; right:0px">
  <p> Name <input> </input> </p>

  <p> Backstory <textarea rows=4> </textarea> </p>

  <div id=charab> </div>
  <script>
    var charab = document.getElementById("charab");
    for (i in abilities) {
      charab.appendChild(document.createTextNode(abilities[i]));

      var select = document.createElement("select");
      for (var i = 3; i <= 18; i++) {
        var option = document.createElement("OPTION");
        option.text = i;
        select.options.add(option);
      }
      charab.appendChild(select);

      charab.appendChild(document.createElement("br"));
    }
  </script>

  <p>
    Race
    <select id=charac> </select>
    <script> populateSelect("charac", races); </script>
  </p>
</div>

<h2> 1. Character ability scores </h2>
<code id="rollscript"> </code>
<script>
  var rollscript = document.getElementById("rollscript");
  for (i in abilities) {
    var text = document.createTextNode("#3d6 #" + abilities[i]);
    rollscript.appendChild(text);
    rollscript.appendChild(document.createElement("br"));
  }
</script>

<h2> 2. N/A bonus/penalty is done automatically </h2>

<h2> 3. Choose race </h2>

<h2> 4. Choose class </h2>

<h2> 5. N/A next level xp is automatic </h2>

<h2> 6. HP: Roll class' hit die, add CON bonus/penalty </h2>
TODO auto die roll code based on class here

<h2> 7. +1 attack bonus (all characters has this at 1st lvl) </h2>

<h2> 8. N/A saving throws are automatic </h2>

<h2> 9. Roll starting money </h2>
10gp times <code> #3d6 </code>

<h2> 10. Buy shit </h2>
TODO should be an easily clickable table w/good mechanics for shopping cart etc

<h2> 11. N/A armor class is automatic </h2>

<h2> 12. Invent a name and background </h2>
